<%- include('./layouts/header.ejs') %>

        <!-- Page Content-->
        <div class="container px-4 px-lg-5 posts">
            <!-- Heading Row-->

            <%
            if (posts.length > 0) {
                for (let i = posts.length - 1; i >= 0; --i) 
                {
                    %>
                    <div class="row gx-4 gx-lg-5 align-items-center my-5">
                        <div class="col-lg-7">
                            <%
                            if (posts[i].image !== undefined && posts[i].image !== '') 
                            {
                                %>
                                <img class="img-fluid rounded mb-4 mb-lg-0" src="<%= posts[i].image %>" alt="..." />
                                <%
                            }
                            else 
                            {
                                %>
                                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." />
                                <%
                            }
                            %>
                        </div>
                        <div class="col-lg-5">
                            <h1 class="font-weight-light"><%= posts[i].title %></h1>
                            <p> <%= posts[i].content %> </p>
                            <a class="btn btn-primary" href="/post/<%= posts[i]._id%>">Read More</a>
                        </div>
                    </div>
                    <%
                }
            }
            else {
                %>
                <h1>Posts are not available</h1>
                <%
            }
            %>


        </div>

        <script>
            var socket = io();
            socket.on("new_post", function(form_data)
            {
                var html = "";
                var image = "https://dummyimage.com/900x400/dee2e6/6c757d.jpg";
                if (form_data.image != '')
                {
                    image = form_data.image;
                }
                html += `
                <div class="row gx-4 gx-lg-5 align-items-center my-5">
                        <div class="col-lg-7">
                                <img class="img-fluid rounded mb-4 mb-lg-0" src="`+image+`" alt="..." />
                        </div>
                        <div class="col-lg-5">
                            <h1 class="font-weight-light">`+form_data.title+`</h1>
                            <p> `+form_data.content+` </p>
                            <a class="btn btn-primary" href="/post/`+form_data._id+`">Read More</a>
                        </div>
                    </div>
                `;

                $('.posts').prepend(html);

            });
        </script>


<%- include('./layouts/footer.ejs') %>